.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosello{
  height: 70%;
  width: 70%;
  display: flex;

}
.items{
  width: 70%;
  height: 100%;
  position: relative;
}
.item{
  height: 100%;
}
.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbs{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.thumb{
  width: 100%;
  height: calc(100% / 5);
}
.thumbs img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.thumb .active{
  filter: brightness(1);
}

.item.active{
  display: block;
}

.item{
  display: none;
  position: relative;
}
.item .info{
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 5px;
  background-color: rgba(80, 113, 142, 0.69);
  border-radius: 10px;
}


.next,.prev{
  font-size: 20px;
  cursor: pointer;
}

.prev{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.next{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.player{
  position: absolute;
  color: white;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

}
.player i{
  margin: 0 10px;
  cursor: pointer;
}